/* 'Sometype Mono', monospace */
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
/* 'Gabarito', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
/* 'Roboto Serif', serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Serif:opsz@8..144&display=swap');

.pop_up {
    z-index: 90;
    position: fixed;
    --ecart: 50px;
    right: var(--ecart);
    bottom: var(--ecart);


    width: 220px;
    height: auto;
    border-radius: 26px;
    background: #2C4072;
    box-shadow: 0px 0px 29.3px 10px rgba(255, 255, 255, 0.10);
    transition: 0.5s;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.top {
    border-radius: 26px 26px 0px 0px;
    background: #5452D0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    /* Center vertically */
    justify-content: center;
}

.top p {
    /* reset */
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Gabarito', sans-serif;
    text-align: center;
}


.msg1 {
    display: flex;
    position: relative;
    margin: 15px;
    width: 60%;
    height: 40px;
    border-radius: 26px 26px 26px 0px;
    background: rgba(18, 31, 64, 0.48);
    align-items: center;
}

.msg1 p {
    color: #fff;
    font-family: 'Gabarito', sans-serif;
    text-align: center;
    flex: 1;
}

.msg2 {
    display: flex;
    position: relative;
    margin: 15px;
    width: 70%;
    height: 110px;
    padding: 15px;
    border-radius: 26px 26px 26px 0px;
    background: rgba(18, 31, 64, 0.48);
    align-items: center;
}

.msg2 p {
    color: #fff;
    font-family: 'Gabarito', sans-serif;

    flex: 1;
}

.liste_media {
    /* reset */
    margin-left: 9.5px;
    padding: 0px;

    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.media {
    margin: 3.5px;
    border-radius: 20px;
    background: #D9D9D9;
    --media: 60px;
    width: var(--media);
    height: var(--media);
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
        background-color: rgba(153, 155, 159, 0.505);
    }
}

.media svg {
    width: 45px;
    height: auto;
    align-self: center;


    /* Cible le Linkedin pour l'ajuster */
    /* Probleme : pourquoi nthchild 1 ? */
    /* Probleme : pourquoi l'ajout de <a> a legerement deplacé l'image ? */

    &:nth-child(1) {
        width: 50px;
        margin-top: 3px;
    }
}

.media img {
    width: 45px;
    height: auto;
    align-self: center;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.exit {
    color: white;
    font-family: 'Gabarito', sans-serif;
    font-size: larger;
    position: absolute;
    top: 9px;
    right: 20px;
    cursor: pointer;
    text-shadow: rgb(0, 0, 0) 1px 1px 9px;
}