@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

:root {
    /* Couleur */
    --main_color_background: #121F40;
    --main_color_text: #fff;
    --current_page_nav: rgba(217, 217, 217, 0.3);

    /* Police */
    --main_font: 'Sometype Mono', monospace;
    --title_font: 'Gabarito', sans-serif;

    
    --main_font_size: 20px;
    --title_font_size: 200px;    
}

/* !! */
body {
    /* reset */
    margin: 0px;
    padding: 0px;

    background-color: var(--main_color_background);
}
/* !! */

nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;

    font-family: var(--main_font);

}

nav ul {
    /* reset */
    padding: 0px;

    width: 100%;
    height: auto;

    list-style: none;

    text-align: center;
    margin: 30px 0px;

    white-space: nowrap;

}

nav ul li {
    display: inline;
    position: relative;

    align-items: center;

    margin: 1em 1em;
    padding: 10px 1em;

    border-radius: 26px;
}

nav ul li a {
    color: var(--main_color_text);
    text-decoration: none;
    font-size: var(--main_font_size);
}

nav ul .active {
    background-color: var(--current_page_nav);
}