/* Debut */
/* 1/12/2023 [23:00] */

/* 'Sometype Mono', monospace */    @import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
/* 'Gabarito', sans-serif */        @import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
/* 'Roboto Serif', serif */         @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Serif:opsz@8..144&display=swap');

:root {
    /* Color */
    
    --color_background_main: #121F40;
    --color_font_main: #fff;
    --color_current_page: rgba(217, 217, 217, 0.3);
    

    /* Font */
    --font_family_main: 'Sometype Mono', monospace;
    --font_family_title: 'Gabarito', sans-serif;
    
    --font_size_main: 20px;

    --font_size_title: 9.6em;

    /* Border */

    --border_radius_main: 15px;

    /* notes.html */
    --font_size_title_note: 25px;
    --font_size_descr_note: 17px;

    --font_family_descr_note: 'Roboto Serif', serif;    
}
/* Fin */

.liste_note {    
    padding: 0px;
    margin-top: 5em;
}

.note {
    list-style: none;
    color: var(--color_font_main);

    background-color: #374d87b5;
    border-radius: var(--border_radius_main);

    padding: 20px;
    margin: 3em 20vw;
}

.titre_note {
    font-size: var(--font_size_title_note);
    font-family: var(--font_family_title);
}

.descr_note {
    font-size: var(--font_size_descr_note);
    font-family: var(--font_family_descr_note);
}

.cercle_note {}