@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');

:root {
    /* Couleur */
    --main_color_background: #121F40;
    --main_color_text: #fff;
    --current_page_nav: rgba(217, 217, 217, 0.3);

    /* Police */
    --main_font: 'Sometype Mono', monospace;
    --title_font: 'Gabarito', sans-serif;

    
    --main_font_size: 20px;
    --title_font_size: 170px;    
}

.liste_note {}

.note {
    list-style: none;
    color: var(--main_color_text);
}

.titre_note {}

.descr_note {}

.cercle_note {}