/* 'Sometype Mono', monospace */
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
/* 'Gabarito', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
/* 'Roboto Serif', serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Serif:opsz@8..144&display=swap');

.liste_note {
    padding: 0px;
    margin-top: 5em;
}

.note {
    list-style: none;
    color: #fff;

    background-color: rgba(55, 77, 135, 0.7);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    /* a tester */
    border: 1px solid rgba(128, 117, 117, 0.3);

    border-radius: 15px;

    padding: 20px 30px;
    margin: 3em 20vw;

    transition: 0.5s;
}

.note:hover {
    cursor: pointer;
    background-color: rgba(62, 94, 180, 0.7);
}

.titre_note {
    font-size: 25px;
    font-family: 'Gabarito', sans-serif;

    color: hsl(216.7, 100%, 73.7%);
}

.descr_note {
    font-size: 17px;
    font-family: 'Roboto Serif', serif;

    max-width: 75%;

    line-height: 1.5em;
}

.cercle_note {
    --cercle_note_dim: 90px;

    position: absolute;
    right: 30px;
    top: calc(50% - calc(var(--cercle_note_dim)/2));


    width: var(--cercle_note_dim);
    height: var(--cercle_note_dim);
    border-radius: 999px;
    /* assez pour faire un cercle */

    background-color: rgb(127, 144, 187);

    display: flex;
    align-items: center;
    justify-content: center;
}

.cercle_note img {
    width: 60px;
    height: auto;
}