/* 1/12/2023 [13:26] */

/* 'Sometype Mono', monospace */    @import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
/* 'Gabarito', sans-serif */        @import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
/* 'Roboto Serif', serif */         @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Serif:opsz@8..144&display=swap');

:root {
    /* Color */
    
    --color_background_main: #121F40;
    --color_font_main: #fff;
    --color_current_page: rgba(217, 217, 217, 0.3);
    

    /* Font */
    --font_family_main: 'Sometype Mono', monospace;
    --font_family_title: 'Gabarito', sans-serif;
    
    --font_size_main: 20px;
    --font_size_title: 10vw;

    /* Border */

    --border_radius_main: 15px;

    /* notes.html */
    --font_size_title_note: 25px;
    --font_size_descr_note: 17px;

    --font_family_descr_note: 'Roboto Serif', serif;    
}

.titre {
    position: relative;
    top:30px;

    font-size: var(--font_size_title);
    font-family: var(--font_family_title);
    color: var(--color_font_main);

    text-align: center;

    margin-bottom: 50px;
}

.sous_titre {
    font-size: var(--font_size_main);
    font-family: var(--font_family_main);
    color: var(--color_font_main);

    text-align: center;
}