/* 'Sometype Mono', monospace */
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono&display=swap');
/* 'Gabarito', sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
/* 'Roboto Serif', serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Serif:opsz@8..144&display=swap');

.titre {
    position: relative;
    top: -10px;
    font-size: 9.6em;
    font-family: 'Gabarito', sans-serif;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.sous_titre {
    font-size: 20px;
    font-family: 'Sometype Mono', monospace;
    color: #fff;

    text-align: center;
}